#MainHeader {
    background-color: qlineargradient(
        x1: 0, y1: 0, 
        x2: 1, y2: 0, 
        stop: 0 #020929,
        stop: 0.7 #020929,
        stop: 1 #3a2323
    );
    color: white; 
    padding: 8px;
    font-size: 16px; 
}

#MenuBar {
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
    color: #767676;
}

#MenuBar QPushButton {
    background: transparent;
    border: none;
}

#ChatView {
    border-top: 1px solid #e5e5e5;
}

QStatusBar {
    background-color: #020929;
    color: white;
}

QStatusBar QLabel {
    color: white;
}


LabeledWidget QLabel {
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
}

DetailView {
    background-color: white;
}



QTreeView {
    border: 0;
}

QHeaderView::section {
    background-color: #fff;
    color: #000;
    padding-left: 4px;
    border: none;
    border-right: 1px solid #e5e5e5;
}

QHeaderView::section:hover {
    background-color: #d9ebf9;
}

QHeaderView::section:checked {
    background-color: #bcdcf4;
}
